@using EPS.UI.Portal.Models
@{
    ViewBag.Title = "PatrolReportList";
    List<PatrolReportModel> patrolReportList = ViewBag.Model as List<PatrolReportModel>;
}

@*table-body*@
<div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>巡检线路</th>
                <th>杆塔号</th>
                <th>缺陷类别</th>
                <th>缺陷程度</th>
                <th>巡检时间</th>
                <th>巡检员</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patrolReport in patrolReportList)
            {
                <tr>
                    <td>@patrolReport.PatrolRouteName<input type="hidden" name="patrolRouteId" value=@patrolReport.PatrolRouteId /></td>
                    <td>@patrolReport.PatrolPoint.PoleTowerNumber</td>
                    <td>@patrolReport.DefectType.Type</td>
                    <td>@patrolReport.DefectLevel.Type</td>
                    <td>@patrolReport.ReportTime.ToString("yyyy-MM-dd")</td>
                    <td>@patrolReport.ReportEmployee.Name</td>
                    <td>
                        @Html.ActionLink("修改", "UpdatePatrolReport", "Transaction", new { patrolReportId = patrolReport.Id }, new { @class = "btn btn-primary" })
                        <button class="btn btn-danger btn_Delete" id=@patrolReport.Id value="删除">删除</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*pagination*@
<div class="text-right">
    <div class="pagination">
        @{
            var pageModel = ViewBag.PageModel == null ? null : (PaginationModel)ViewBag.PageModel;
        }
        @Html.Partial("Pagination", pageModel)
    </div>
</div>

<script src="/wwwroot/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        //点击删除按钮
        $('.btn_Delete').click(function () {
            var schemeId = $(this).attr('id')
            console.log(schemeId)
            layer.alert('确定要删除吗', {
                //skin: 'layui-layer-molv',   //样式类名  自定义样式
                closeBtn: 1,                // 是否显示关闭按钮
                anim: 1,                    //动画类型
                btn: ['确定', '取消'],      //按钮
                icon: 3,                    // icon
                yes: function () {
                    layer.msg('按钮1')

                    $.ajax({
                        url: '/Transaction/DeleteSchemeById',
                        type: 'post',
                        async: false,
                        data: { schemeId: schemeId },
                        success: function (result) {
                            if (!result.State) {
                                layer.alert("删除失败", { icon: 2 });
                            }
                            else {
                                setTimeout(function () {
                                    window.location = window.location.href;
                                }, 1);
                                layer.alert("删除成功", { icon: 1 });
                            }
                        }
                    })
                },
                btn2: function () {
                }
            });
        })
    });
</script>