@using EPS.UI.Portal.Models
<link href="/wwwroot/lib/layer/theme/default/layer.css" rel="stylesheet" />
<script src="/wwwroot/lib/jquery/dist/jquery.js"></script>
<script src="/wwwroot/lib/layer/layer.js"></script>

@{
    ViewBag.Title = "SchemeList";
    List<PatrolSchemeModel> patrolSchemeList = ViewBag.Model as List<PatrolSchemeModel>;
}

<div>
    <div style="float:left">
        @Html.Action("CompanyDepartmentGroupEmployee", "Select")
    </div>
    <div style="float:left">
        @Html.ActionLink("添加", "AddScheme", "Transaction", new { }, new { @class = "btn btn-primary" })
    </div>
    <div style="float:left">

    </div>
    <div style="clear:both">
    </div>
</div>

<div class="box">
    @*<div class="box-header">
            <h3 class="box-title">Hover Data Table</h3>
        </div>*@
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>计划编号</th>
                    <th>计划制定人</th>
                    <th>巡检路线</th>
                    <th>计划时间</th>
                    <th>巡检开始时间</th>
                    <th>巡检结束时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var patrolScheme in patrolSchemeList)
                {
                    <tr>
                        <td>@patrolScheme.Number<input type="hidden" name="id" value=@patrolScheme.Id /></td>
                        <td>@patrolScheme.EmployeeName<input type="hidden" name="employeeId" value=@patrolScheme.EmployeeId /></td>
                        <td>@patrolScheme.PatrolRouteName<input type="hidden" name="patrolRouteId" value=@patrolScheme.PatrolRouteId /></td>
                        <td>@patrolScheme.SchemeDate.ToString("yyyy-MM-dd")</td>
                        <td>@patrolScheme.StartDate.ToString("yyyy-MM-dd")</td>
                        <td>@patrolScheme.EndDate.ToString("yyyy-MM-dd")</td>
                        <td>
                            @Html.ActionLink("删除", "DeleteSchemeById", "Transaction", new { schemeId = patrolScheme.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("更新", "UpdateScheme", "Transaction", new { schemeId = patrolScheme.Id }, new { @class = "btn btn-primary" })
                            @*<input id="btn_Delete" type="button" class="btn btn-primary" value="删除" />*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>

<script>
                                                                    //$(function () {
                                                                    //    console.log($('#btn_Delete').val())
                                                                    //    $('#btn_Delete').click(function () {
                                                                    //        console.log($('#btn_Delete').val())
                                                                    //    });
                                                                    //    $('#btn_Delete').click(function () {
                                                                    //        layer.alert('确定要删除吗', {
                                                                    //            //skin: 'layui-layer-molv',   //样式类名  自定义样式
                                                                    //            closeBtn: 1,                // 是否显示关闭按钮
                                                                    //            anim: 1,                    //动画类型
                                                                    //            btn: ['确定', '取消'],      //按钮
                                                                    //            icon: 3,                    // icon
                                                                    //            yes: function () {
                                                                    //                layer.msg('按钮1')
                                                                    //            },
                                                                    //            btn2: function () {
                                                                    //                layer.msg('按钮2')
                                                                    //            }
                                                                    //        });
                                                                    //    })
                                                                    //});
</script>
