@using EPS.UI.Portal.Models
@{
    ViewBag.Title = "DepartmentList";
    List<DepartmentModel> departmentList = ViewBag.Model as List<DepartmentModel>;
}

@*table-body*@
<div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>

                <th>部门编号</th>
                <th>部门名称</th>
                <th>公司编号</th>
                <th>公司名称</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in departmentList)
            {
                <tr>

                    <td>@department.Number</td>
                    <td>@department.Name</td>             
                    <td>@department.CompanyId</td>
                    <td>@department.CompanyName</td>
                    <td> </td>

                    <td>
                        @Html.ActionLink("修改", "UpdateDepartment", "SystemManagement", new { departmentId = department.Id }, new { @class = "btn btn-primary" })
                        <button class="btn btn-danger btn_Delete" id=@department.Id value="删除">删除</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*pagination*@
<div class="text-right">
    <div class="pagination">
        @{
            var pageModel = ViewBag.PageModel == null ? null : (PaginationModel)ViewBag.PageModel;
        }
        @Html.Partial("Pagination", pageModel)
    </div>
</div>

<script src="/wwwroot/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        //点击删除按钮
        $('.btn_Delete').click(function () {
            var departmentId = $(this).attr('id')
            console.log(departmentId)
            layer.alert('确定要删除吗', {
                //skin: 'layui-layer-molv',   //样式类名  自定义样式
                closeBtn: 1,                // 是否显示关闭按钮
                anim: 1,                    //动画类型
                btn: ['确定', '取消'],      //按钮
                icon: 3,                    // icon
                yes: function () {
                    layer.msg('按钮1')

                    $.ajax({
                        url: '/SystemManagement/DeleteDepartmentById',
                        type: 'post',
                        async: false,
                        data: { departmentId: departmentId },
                        success: function (result) {
                            if (!result.State) {
                                layer.alert("删除失败", { icon: 2 });
                            }
                            else {
                                setTimeout(function () {
                                    window.location = window.location.href;
                                }, 1);
                                layer.alert("删除成功", { icon: 1 });
                            }
                        }
                    })
                },
                btn2: function () {
                }
            });
        })
    });
</script>
