@model EPS.UI.Portal.Models.PaginationModel
@if (this.Model.TotalPageCount <= 0)
{
    return;
}

<ul class="pagination">
    <li class="disabled">
        <a id="PaginationTotalCount" href="#;">
            共@(this.Model.TotalCount)条
        </a>
    </li>
    <li class="disabled">
        <a href="#;">
            共@(this.Model.TotalPageCount)页
        </a>
    </li>
    <li class="disabled">
        &nbsp;每页显示&nbsp;
        <select data-am-selected class="am-input-lg" style="" id="setPageSize" name="setPageSize">
            @{
            foreach (var item in new List<int> { 10, 15, 25, 30, 50, 100, 200 })
            {
                <option value="@item" @Html.Raw(this.Model.PageSize == item ? "selected=\"selected\"" : string.Empty)>@item</option>
        }
            }
        </select>&nbsp;条&nbsp;
    </li>
    @if (Model.PageIndex > 1)
    {
        <li @Html.Raw(this.Model.PageIndex == 1 ? "class=\"disabled\"" : string.Empty)>
            <a @Html.Raw(this.Model.PageIndex == 1 ? string.Empty : "name=\"pagelink\"") value="@(Math.Max(this.Model.PageIndex - 1, 1))" href="javascript:void(0)" onclick="GoToPage(this.getAttribute('value'))" title="上一页">
                上一页
            </a>
        </li>
    }


    @{
        if (Model.TotalPageCount <= 15)
        {
            for (var index = 1; index <= 15; index++)
            {
                if (index > Model.TotalPageCount)
                {
                    continue;
                }
                <li @Html.Raw(index == this.Model.PageIndex ? "class=\"active\"" : string.Empty)>
                    <a @Html.Raw(index == this.Model.PageIndex ? string.Empty : "name=\"pagelink\"") value="@index" href="javascript:void(0)" onclick="GoToPage(this.getAttribute('value'))" >@index</a>
                </li>
            }
        }
        else
        {
            var pageBefore = this.Model.PageIndex - 7;
            var pageAfter = this.Model.PageIndex + 2;
            if (pageBefore < 0)
            {
                for (var index = 1; index <= 9; index++)
                {
                    <li @Html.Raw(index == this.Model.PageIndex ? "class=\"active\"" : string.Empty)>
                        <a @Html.Raw(index == this.Model.PageIndex ? string.Empty : "name=\"pagelink\"") value="@index" href="javascript:void(0)" onclick="GoToPage(this.getAttribute('value'))">@index</a>
                    </li>
                }
                <li>
                    <span>…</span>
                </li>
                for (var index = Model.TotalPageCount - 5; index <= Model.TotalPageCount; index++)
                {
                    <li @Html.Raw(index == this.Model.PageIndex ? "class=\"active\"" : string.Empty)>
                        <a @Html.Raw(index == this.Model.PageIndex ? string.Empty : "name=\"pagelink\"") value="@index" href="javascript:void(0)" onclick="GoToPage(this.getAttribute('value'))">@index</a>
                    </li>
                }
            }
            else if (pageAfter < Model.TotalPageCount - 5)
            {
                for (var index = 1; index <= 4; index++)
                {
                    <li @Html.Raw(index == this.Model.PageIndex ? "class=\"active\"" : string.Empty)>
                        <a @Html.Raw(index == this.Model.PageIndex ? string.Empty : "name=\"pagelink\"") value="@index" href="javascript:void(0)" onclick="GoToPage(this.getAttribute('value'))">@index</a>
                    </li>
                }
                <li>
                    <span>…</span>
                </li>
                for (var index = this.Model.PageIndex - 2; index <= this.Model.PageIndex + 2; index++)
                {
                    <li @Html.Raw(index == this.Model.PageIndex ? "class=\"active\"" : string.Empty)>
                        <a @Html.Raw(index == this.Model.PageIndex ? string.Empty : "name=\"pagelink\"") value="@index" href="javascript:void(0)" onclick="GoToPage(this.getAttribute('value'))">@index</a>
                    </li>
                }
                <li>
                    <span>…</span>
                </li>
                for (var index = Model.TotalPageCount - 4; index <= Model.TotalPageCount; index++)
                {
                    <li @Html.Raw(index == this.Model.PageIndex ? "class=\"active\"" : string.Empty)>
                        <a @Html.Raw(index == this.Model.PageIndex ? string.Empty : "name=\"pagelink\"") value="@index" href="javascript:void(0)" onclick="GoToPage(this.getAttribute('value'))">@index</a>
                    </li>
                }
            }
            else
            {
                for (var index = 1; index <= 5; index++)
                {
                    <li @Html.Raw(index == this.Model.PageIndex ? "class=\"active\"" : string.Empty)>
                        <a @Html.Raw(index == this.Model.PageIndex ? string.Empty : "name=\"pagelink\"") value="@index" href="javascript:void(0)" onclick="GoToPage(this.getAttribute('value'))">@index</a>
                    </li>
                }
                <li>
                    <span>…</span>
                </li>

                for (var index = Model.TotalPageCount - 9; index <= Model.TotalPageCount; index++)
                {
                    <li @Html.Raw(index == this.Model.PageIndex ? "class=\"active\"" : string.Empty)>
                        <a @Html.Raw(index == this.Model.PageIndex ? string.Empty : "name=\"pagelink\"") value="@index" href="javascript:void(0)" onclick="GoToPage(this.getAttribute('value'))">@index</a>
                    </li>
                }
            }

        }


    }
    @if (Model.PageIndex < this.Model.TotalPageCount)
    {
        <li @Html.Raw(this.Model.PageIndex == this.Model.TotalPageCount ? "class=\"disabled\"" : string.Empty)>
            <a @Html.Raw(this.Model.PageIndex == this.Model.TotalPageCount ? string.Empty : "name=\"pagelink\"") value="@(Math.Min(this.Model.PageIndex + 1, this.Model.TotalPageCount))" href="javascript:void(0)" onclick="GoToPage(this.getAttribute('value'))" title="下一页">
                下一页
            </a>
        </li>
    }
    <li>
        <input type="text" style="width:50px;padding:4px 12px; height:35px; line-height:35px;" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="5" id="txtPaginationIndex" />
    </li>
    <li>
        <button class="btn btn-primary" style="vertical-align:top !important;" onclick="GoToPage($('#txtPaginationIndex').val())">Go</button>
    </li>
</ul>
@*<input id="hidPageIndex" type="hidden" value="@this.Model.PageIndex" />*@

<script>
    $(function () {
        $("#setPageSize").change(function () {
            var pageSize = $("#setPageSize").val()
            $("#pageSize").val(pageSize)
            $("#btnSearch").click()
        })
    })

    function GoToPage(pageIndex) {
        $("#pageIndex").val(pageIndex)
        $("#btnSearch").click()
    }

</script>